/* custom css for papaers.html */
body {
	background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;

	background-attachment: fixed;
	-o-background-attachment: fixed;
	-ms-background-attachment: fixed;
	-moz-background-attachment: fixed;
	-webkit-background-attachment: fixed;
}

/*
 *	nav
 */
.nav-container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;

	height: 50px;
	border: 1px solid transparent;
	border-width: 0 0 1px;
	border-color: #e7e7e7;
	border-radius: 0;

	background-color: #ffffff;
}
.nav-content {
	width: 1170px;
	height: 50px;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
}
.nav-header {
	width: 150px;
	height: 50px;
	line-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
.nav-header #logoImg { height: 30px; }
.nav-body .nav { height: 50px; }
.nav-body .nav > li {
	float: left;

	height: 50px;
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;

	text-align: center;
}
.nav-body .nav > li a {
	height: 30px;
	line-height: 30px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.nav-body .nav > li a:hover { background-color: transparent; }
.nav-body .nav > li a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
.nav-body .nav > li a span:before {
	content: attr(data-hover);
	position: absolute;
	top: 100%;
	color: #111111;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.nav-body .nav > li a span:hover {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}
#blogLink { position: relative; }
#blogLink:after {
	content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #888888;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}

#backLink { font-size: 0.75em; }
/* nav END */

/*
 *	content-body 
 */
.body-container {
	position: absolute;
	width: 100%;
	padding-top: 5px;
	margin-top: 50px;
	z-index: 2
}
.body-content {
	width: 1170px;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
}

/* tagList */
#tagList dd .tag-name {
	display: inline-block;
	width: 4.5em;
}
/* tagList END */

/* latestList */
#latestList a {
	padding-left: 5px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#latestList a:before {
	content: attr(data-no);
	position: absolute;
	display: block;
	margin-left: -5px;
	color: #111111;
}
/* latestList END */

/* timeList */
#timeList .time-val {
	display: inline-block;
	width: 4.5em;
}
#showTime {
	position: absolute;
	display: inline-block;
	width: 25px;
	right: 15px;
	text-align: center;
	z-index: 2;
}
/* timeList END */

/* aboutModal、contactModal */
#aboutModal .modal-dialog, #contactModal .modal-dialog { margin: 150px auto; }
#aboutModal .modal-header, #contactModal .modal-header, #contactModal .modal-body { text-align: center; }
#aboutModal .modal-body a:hover, #contactModal .modal-body a:hover { text-decoration: none; }
#aboutModal .modal-body dt:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -5px;
	margin-left: -10px; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #888888;
}
/* aboutModal、contactModal END */