/* common css for all */
*, *:hover, *:link, *:visited, *:active,
a, a:hover, a:link, a:visited, a:active {
	color: #707070;
	text-decoration: none;
}
a { cursor: pointer; }

.hidden { display: none; }

.mask-container {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.85);
	z-index: 1;
}

.loading{
	position: absolute;
    width: 150px;  
    height: 56px;
    line-height: 56px;
    top: 40%;  
    left: 50%;
    padding-left: 60px;
    margin-left: -75px;
    border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
    -moz-border-radius: 30px;  
    -webkit-border-radius: 30px;
    opacity: 0.7;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);  

    font-size: 15px;
    color: #ffffff;
    background: #444444 url(../img/loader.gif) no-repeat 10px 50%;    
    z-index: 9999;      
}

.network-err:after {
	content: "获取数据失败，请检查网络后刷新页面";
	display: block;
	margin: 100px 0;
	text-align: center;
	font-size: 0.75em;
	color: #a94442;
}
.no-item:after {
	content: "暂无内容";
	display: block;
	margin: 15px 0;
	text-align: center;
	font-size: 0.75em;
	color: #a94442;
}

/*
 *	div block custom style
 */
.content-block {
	position: relative;
	padding: 5px;
	margin: 10px 5px;
	border: 1px solid #b1b1b1;
	border-radius: 10px;
}

/*
 *	dl、dt、dd custom style
 */
.comm-dl dt {
	position: relative;
	font-weight: 600;
}
.comm-dl dd {
	margin-left: 25px;
	font-size: 0.8em;
}
.comm-dl dd a {
	position: relative;
	display: block;
	height: 25px;
	line-height: 25px;
	margin: 2.5px 5px 2.5px 0;
	border-radius: 5px;
	cursor: pointer;
}
.comm-dl dd a:hover { background-color: #eeeeee; }
#tagList dd a:hover, 
#timeList dd a:hover {
	animation-name: move-animate;
	-o-animation-name: move-animate;
	-ms-animation-name: move-animate;
	-moz-animation-name: move-animate;
	-webkit-animation-name: move-animate;

	animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	-ms-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;

	animation-timing-function: ease;
	-o-animation-timing-function: ease;
	-ms-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	padding-left: 15px;
}
#tagList dd a:hover:before, 
#timeList dd a:hover:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #888888;
}

/*
 *	font-awesome icon custom style
 */
i.fa-envelope { color: #0067ba; }
i.fa-github   { color: #111111; }
i.fa-weixin   { color: #95e75c; }
i.fa-weibo    { color: #e6162d; }
i.fa-qq       { color: #24202b; }

.subtitle-date, .subtitle-tags { margin: 0 10px; }

/* category content style */
.category-item {
	padding: 10px 5px;
	margin: 15px 0;
}
.category-item:after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #555555;
	opacity: 0.25;
	filter: Alpha(25);
}
.item-title h2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.item-title h2 a {
	color: #555555;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0 0 1px rgba(111, 134, 134, 0.3);
}
.item-title h2 a:before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}
.item-title h2 a:hover::before,
.item-title h2 a:focus::before {
	color: #555555;
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}
.item-subtitle h3 {
	margin: 5px 0;
	font-size: 0.75em;
	text-align: right;
}

/* papers content style */
.init .paper-subtitle { display: none; }
#paperContent hr {
	padding: 0;
	margin: 0;
}
.paper-title h1 {
	margin: 15px 0;
	color: #555555;
	font-size: 20px;
	font-weight: bold;
}
.paper-subtitle h3 {
	margin: 5px 0;
	font-size: 0.75em;
	text-align: right;
}
.paper-content { margin: 15px 0; }
.paper-content * { color: #555555; }
.paper-content strong { margin:5px 0;font-size: 1.05em; }
.paper-content p { margin: 5px 0;text-indent: 2em; }
.paper-content .size-lg { height: 500px; }
.paper-content .size-md { height: 350px; }
.paper-content .size-sm { height: 200px; }
.paper-content .img-container {	margin: 5px 0;text-align: center; }
.paper-content .img-container img { max-width: 100%;height: inherit; }

/* define animate */
@keyframes fade-in {
	0% { opacity: 0; }
	100% {opacity: 1; }
}
@-o-keyframes fade-in {
	0% { opacity: 0; }
	100% {opacity: 1; }
}
@-ms-keyframes fade-in {
	0% { opacity: 0; }
	100% {opacity: 1; }
}
@-moz-keyframes fade-in {
	0% { opacity: 0; }
	100% {opacity: 1; }
}
@-webkit-keyframes fade-in {
	0% { opacity: 0; }
	100% {opacity: 1; }
}
.fade-in-animate {
	animation-name: fade-in;
	-o-animation-name: fade-in;
	-ms-animation-name: fade-in;
	-moz-animation-name: fade-in;
	-webkit-animation-name: fade-in;

	animation-duration: 2s;
	-o-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-webkit-animation-duration: 2s;

	animation-timing-function: ease;
	-o-animation-timing-function: ease;
	-ms-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
}

@keyframes move-animate {
	0% { padding-left: 0; }
	100% { padding-left: 15px; }
}
@-o-keyframes move-animate {
	0% { padding-left: 0; }
	100% { padding-left: 15px; }
}
@-ms-keyframes move-animate {
	0% { padding-left: 0; }
	100% { padding-left: 15px; }
}
@-moz-keyframes move-animate {
	0% { padding-left: 0; }
	100% { padding-left: 15px; }
}
@-webkit-keyframes move-animate {
	0% { padding-left: 0; }
	100% { padding-left: 15px; }
}